body{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;/*垂直置中*/
    background: #333;
}
body,html{
    height: 100%;
}
.wrap{
    width: 1200px;
    display: flex;
    margin: auto;
}
.item{
    width: 369px;/*理解:400-30-2*/
    margin:15px;/*理解*/
    text-align: center;
    background: #fff;
    border:solid 1px #ccc;
    transform: translateY(0px);
    transition: .5s;
}
.item img{
    width: 100%;
    vertical-align: middle;
}
.item h2{
    border-bottom:solid 1px #333;
    padding-bottom: .3em;
    margin-bottom: .3em;
}
.item .text{
    padding: 20px;
    position: relative;
}
.item .text:before{
    content:'';
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    border-top: 50px solid transparent;/*三角*/
    border-right:184px solid #fff;/*三角*/
    border-left: 184px solid #fff;/*三角*/
    transform: translateY(-100%);/*往上跑*/
}
.item:hover{
    transform: translateY(-50px);
}
.item:hover .text{
background-image:linear-gradient(0deg, rgb(86, 105, 136), rgb(150, 173, 209));
}
.item:hover .text:before{
    border-right:184px solid rgb(150, 173, 209);
    border-left: 184px solid rgb(150, 173, 209);
}